.header {
  padding-top: 1.9rem;
  padding-left: 13.6rem;
  padding-right: 5rem;
  padding-bottom: 2.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Title */
.title {
  text-transform: uppercase;
  color: var(--grey-8);
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  margin-right: 2.8rem;
}

.title span {
  transform: translateY(0.5rem);
  display: inline-block;
  background-color: var(--accent);
  width: 5px;
  height: 1em;
  margin-right: 1rem;
  border-radius: 5px;
}

/* Notification Icon */
.notification {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification span {
  width: 1.5rem;
  height: 1.5rem;
  top: -0.3rem;
  right: -0.3rem;

  background-color: var(--green);
  border-radius: 100px;
  position: absolute;
  font-family: Nunito Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.filter-btn {
  display: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  border-radius: 6px;
  background: var(--green);
  border: none;
  outline: none;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .header {
    padding-left: 10.6rem;
    padding-right: 2rem;
  }
  .notification {
    position: relative;
    margin-right: 1.5rem;
  }
  .filter-btn {
    display: block;
  }
  .title {
    font-size: 32px;
    line-height: 58px;
    margin-right: 1.5rem;
  }
}
@media only screen and (max-width: 600px) {
  /* Title */
  .title {
    text-transform: uppercase;
    color: var(--grey-8);
    font-size: 32px;
    line-height: 32px;
    margin-right: 1.8rem;
  }

  .title span {
    margin-right: 0.5rem;
  }
}
