.main {
  padding-left: 13.3rem;
  padding-right: 5rem;
  overflow: hidden;
  /* height: 100vh; */
}

.items {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 1.6rem;
}

.item {
  padding: 1.2rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey-5);
  border-radius: 8px;
}

.item__field {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-right: 1px solid var(--grey-45);
  font-size: 15px;
  line-height: 22.5px;
  font-weight: 400;
}

.item__field span {
  padding-top: 0.3rem;
}

.item__field:last-child {
  border-right: 0px solid var(--grey-45);
  text-transform: capitalize;
}
