.main {
  padding-left: 13.3rem;
  padding-right: 5rem;
}

.items {
  padding-right: 1rem;
  padding-bottom: 15rem;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  gap: 1.6rem;
  overflow-y: scroll;
}

@media only screen and (max-width: 1100px) {
  .main {
    padding-left: 11.3rem;
    padding-right: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .main {
    padding-left: 10.3rem;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    padding-left: 9rem;
    padding-right: 0.5rem;
  }
}
