.container {
  display: none;
  padding: 3rem 6rem 3rem 4rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

.container.show {
  display: block;
}

.container p:first-child {
  margin-bottom: 1.5rem;
}
.container p:last-child {
  max-width: 80%;
}

.container span.bold {
  font-weight: 600;
}

.container span.anchor {
  text-decoration: underline;
  color: var(--accent);
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 2rem 3rem;
  }
  .container p:last-child {
    max-width: 100%;
  }
}
