.filters {
  padding: 1.7rem 1.6rem 2.2rem 2.5rem;
  margin-top: 10rem;
  width: 41.9rem;
  max-height: 87vh;
  background-color: var(--grey-7);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media only screen and (max-width: 900px) {
  .filters.show {
    right: 0;
  }

  .filters {
    overflow: scroll;
    transition: all 0.3s ease-in-out;
    right: -100%;
    position: absolute;
    max-height: 100vh;
    height: 100vh;
    margin-top: 0;
    top: 0;
  }
}
