/* 
#F5F5F5
#979797
#737373
#5d5d5d
#424242
#313131
#202020
#181818
  box-shadow: 10px 4px 21.1px 0px rgba(0, 0, 0, 0.38);
*/

:root {
  --accent: #53acff;
  --orange: #d94111;
  --green: #118f4b;

  --grey-1: #979797;
  --grey-2: #737373;
  --grey-3: #5d5d5d;
  --grey-35: #494949;
  --grey-4: #424242;
  --grey-45: #414040;
  --grey-5: #313131;
  --grey-6: #202020;
  --grey-7: #181818;
  --grey-8: #f5f5f5;

  --shadow: 10px 4px 21.1px 0px rgba(0, 0, 0, 0.38);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22.5px;
  color: #fff;
  background-color: var(--grey-6);
  min-height: 100vh;
}

.app {
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}

/* width */
*::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--grey-4);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--grey-3);
}

/* GENERAL CLASSES */
.row-container {
  display: flex;
}

.col-container {
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
